.chatContainer {
    display: flex;
    min-width: 60%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    background: #FFFFFF;
}

.messageFeed {
    border-color: #FF9393940;
    border-width: 1px;
    min-height: 70vh;
    max-height: 80vh;
    overflow: auto;
}


.messageInput {
    flex-grow: 1
}
